.soon{
  position: absolute;
  justify-content: center;
  width: 60px;
  height: 18px;
  border-radius: 10px;
  background: #EB5757;
  font-family: DIN Pro,sans-serif;
  text-align: center;
  font-size: 14px;
  line-height:0.30px;
  font-weight: 400;
  color: white;
  border: none;
  top: -12px;
  right: 0;
}